@import '../../../styles/Master.scss';

.page {
    height: 100%;
    width: calc(100% - 15rem);
    position: absolute;
    top: 0;
    background-color: $gray;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 16rem;
    padding: 20px;
    border-radius: 1rem;

    background: $white;
    box-shadow: 0px 0px 15px $gray;
    color: $dark-gray;

    text-align: center;

    img {
        height: 5rem;
        margin-bottom: 10px;
        mix-blend-mode: multiply;
        align-self: center;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

    }

    h2 {
        margin: 0;
        font-size: 18px;
        height: 1rem;
    }

    p {
        margin: 0;
        font-size: small;
    }
}

.card:hover {
    box-shadow: 0 0 0 2px $lime inset;
    cursor: pointer;
}