@import '../../../styles/Master.scss';


.container {
    /* width: 100%;*/
    float: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*background-color: $blue;*/
    padding: 0 2rem;

    .card {
        display: flex;
        flex-direction: column;
        width: 12.5rem;
        height: 9rem;
        padding: 20px;

        background: $dark-gray;
        color: $gray;
        border: 1px solid $black;

        img {
            height: 4rem;
            margin-bottom: 10px;
            /*mix-blend-mode: multiply;*/
            align-self: start;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: start;

        }

        h2 {
            margin: 0;
            font-size: 18px;

        }

        p {
            margin: 0;
            font-size: small;
        }

        h5 {
            height: 20px;
            margin: 0;
            font-weight: normal;
        }
    }

    .card:hover {
        background-color: $lime;
        color: $dark-gray;
        cursor: pointer;

        h2,
        p,
        h5 {
            color: $dark-gray;
        }
    }
}

.logoOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;

    background-color: $dark-gray;
    border: 1px solid $black;

    img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
    }
}

.logoOnly:hover {
    background-color: $lime;
    cursor: pointer;
}

.teamDetailPage {
    display: flex;
    flex-direction: row;
    padding: 0;

    .teamLogo {
        min-width: 12rem;
        height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $dark-gray;
        border: 1px solid $black;

        img {
            height: 5rem;
        }
    }

    .details {
        display: flex;
        flex-direction: column;

        .header {
            height: 12rem;
            padding: 4rem 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            margin: 0;

            h2,
            h4 {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0 0 0 2rem;
            }

            h2{
margin-bottom: 10px;
            }
            h4 {
                
                font-weight: normal;
            }

            .seasons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                flex-flow: wrap-reverse;


                div {
                    display: flex;
                    background-color: $dark-gray;
                    border: 1px solid $black;
                    color: $gray;
                    width: 4.5rem;
                    height: 2rem;
                    align-items: center;
                    justify-content: center;
                }

                div:hover {
                    background-color: $lime;
                    color: $dark-gray;
                    cursor: pointer;
                }
            }
        }


        .country {
            height: 16px;
            width: 16px;
            border-radius: 5px;
            object-fit: cover;
            margin-left: 5px;
        }



        /* div {
            width: 100%;


            gap: 0;
            display: flex;
            flex-wrap: wrap;
        }*/
    }

}


.team{

    h4,h3{
        margin: 0;
        padding: 0.5rem;
        background-color: $dark-gray;
        border: 1px solid $black;
    }

    .teamTable {
    display: flex;
    flex-direction: column;

    border-collapse: 1px solid $black;


}
}
